<div>
  <a routerLink="/">Basic Search</a>
  <div #advSearchQueryInput>
    <table>
      <tr>
        <td>
          with
          <b>all</b> of the words
        </td>
        <td>
          <input #reqWords type="text" (keyup.enter)="submit.click()" />
        </td>
      </tr>
      <tr>
        <td>
          with the
          <b>exact phrase</b>
        </td>
        <td>
          <input #exactPhrase type="text" (keyup.enter)="submit.click()" />
        </td>
      </tr>
      <tr>
        <td>
          with
          <b>any</b> of the words
        </td>
        <td>
          <input #anyWords type="text" (keyup.enter)="submit.click()" />
        </td>
      </tr>
      <tr>
        <td>
          <b>without</b> the words
        </td>
        <td>
          <input #withoutWords type="text" (keyup.enter)="submit.click()" />
        </td>
      </tr>
      <tr>
        <td>
          File Format
        </td>
        <td>
          <select #fileFormat>
            <option value></option>
            <option value="pdf">Adobe Acrobat PDF (.pdf)</option>
            <option value="ps">Adobe Postscript (.ps</option>
            <option value="doc">Microsoft Word (.doc)</option>
            <option value="xls">Microsoft Excel (.xls)</option>
            <option value="ppt">Microsoft Powerpoint (.ppt)</option>
            <option value="rtf">Rich Text Format (.rtf)</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <button #submit class="btn btn-primary" (click)="onSearch(reqWords, exactPhrase, anyWords, withoutWords, fileFormat, 1)">Search</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-search-results [searchResults]="searchResults"></app-search-results>