<div>
  <h5>This is the Search Component</h5>
  <input 
    type="text" 
    #searchQueryInput 
    (keyup.enter)="onSearch(searchQueryInput)"/>
  <button class="btn btn-primary" (click)="onSearch(searchQueryInput)">Search</button>
  <h4 *ngIf="searchResults.length > 0">Search results:</h4>
</div>
<p *ngFor="let result of searchResults">
  <a [innerHTML]="result.htmlTitle" [href]="result.link"></a>
  <br>
  <span [innerHTML]="result.displayLink" style="color:#008000"></span>
  <br>
  <span [innerHTML]="result.htmlSnippet"></span>
</p>