<div>
  <input 
    type="text" 
    #searchQueryInput 
    (keyup.enter)="onSearch(searchQueryInput)"/>
  <button class="btn btn-primary" (click)="onSearch(searchQueryInput)">Search</button>
  <br>
  <a routerLink="/advancedSearch">Advanced Search</a>
  <h4 *ngIf="resultsPresent()">Search results:</h4>
  <h4 *ngIf="emptyResults()">Your search did not match any results</h4>
</div>
<p *ngFor="let result of searchResults">
  <a [innerHTML]="result.htmlTitle" [href]="result.link"></a>
  <br>
  <span [innerHTML]="result.displayLink" style="color:#008000"></span>
  <br>
  <span [innerHTML]="result.htmlSnippet"></span>
</p>